@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px 20px;
}

#top-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

#title {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(45deg, #2575fc, #9c27b0);
    -webkit-background-clip: text;
    color: transparent;
}

#balance {
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(45deg, #2575fc, #9c27b0);
    -webkit-background-clip: text;
    color: transparent;
}

#currency-symbol {
    font-size: 20px;
    color: #999;
}

#top-up-button {
    font-size: 24px;
    cursor: pointer;
    background: linear-gradient(45deg, #2575fc, #9c27b0);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

#action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#action-buttons button {
    flex: 1;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    background: #D7D8F6; /* Updated background color */
    color: #3E2C8F;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    height: 80px;
    font-weight: bold; /* Made the text bold */
}

#action-buttons button img {
    width: 50px; /* Adjusted icon size */
    height: 50px; /* Adjusted icon size */
    margin-bottom: 8px;
}

#action-buttons button:active {
    transform: translateY(2px); /* This moves the button slightly downwards */
    opacity: 0.7; /* This makes the button slightly transparent */
}

/* Disabled Button Styling */
#action-buttons button.disabled {
    opacity: 0.6; /* Makes it look faded */
    position: relative; /* For tooltip positioning */
}

/* Tooltip Styling */
#action-buttons button.disabled:hover:after {
    content: attr(data-tooltip); /* Gets tooltip text from data attribute */
    position: absolute;
    bottom: 100%; /* Position above the button */
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); /* Center adjustment */
    background-color: #333; /* Tooltip background color */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Spacing around text */
    border-radius: 4px; /* Rounded edges */
    font-size: 12px; /* Font size */
    white-space: nowrap; /* Prevents wrapping */
    margin-bottom: 5px; /* Distance from the button */
    pointer-events: none; /* Makes sure it doesn't interfere with other interactions */
}

/* Clicking Effect for Top-Up Button */
#top-up-button:active {
    transform: translateY(2px); /* This moves the button slightly downwards */
    opacity: 0.7; /* This makes the button slightly transparent */
}


/* Additional Disabled Button Styling for Top-Up Button */
#top-up-button.disabled {
    opacity: 0.6; /* Makes it look faded */
    cursor: not-allowed; /* Indicates not clickable */
    position: relative; /* For tooltip positioning */
}

/* Tooltip Styling for Top-Up Button */
#top-up-button.disabled:hover:after {
    content: attr(data-tooltip); /* Gets tooltip text from data attribute */
    position: absolute;
    bottom: 100%; /* Position above the button */
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); /* Center adjustment */
    background-color: #333; /* Tooltip background color */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Spacing around text */
    border-radius: 4px; /* Rounded edges */
    font-size: 12px; /* Font size */
    white-space: nowrap; /* Prevents wrapping */
    margin-bottom: 5px; /* Distance from the button */
    pointer-events: none; /* Makes sure it doesn't interfere with other interactions */
}


#promo-section {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #2575fc;
    text-align: center;
}


/* Ranked List Styles */
#ranked-list {
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.ranked-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
    transition: 0.3s background-color;
    cursor: pointer;
}

.ranked-item:hover {
    background-color: #EAEAFD;
}

.ranked-item:last-child {
    border-bottom: none;
}

.rank-and-image, .rank-and-channel-info {
    display: flex;
    align-items: center;
}

.rank-number {
    color: darkgray;
    margin-right: 10px;
}

.ranked-item img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.channel-name {
    font-size: 16px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    color: #000;
}

.boost-info {
    font-size: 14px;
    color: #999;
    margin-top: 4px; /* spacing between channel name and boost info */
}

.rank-and-channel-info {
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: flex-start;
}

/* Button Styling */
.gift-boost-btn {
    padding: 8px 15px;
    background: linear-gradient(85deg, #12c2e9, #2575fc);
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100px;
}

.gift-boost-btn:hover {
    background: linear-gradient(85deg, #0aa7d8, #1a5ad6);
}

.gift-boost-btn:active {
    transform: scale(0.95);
}

.promo-item {
    border-radius: 10px; /* Rounded edges */
    transition: 0.3s background-color; /* Smooth background-color transition */
    cursor: pointer; /* Makes it look clickable */
}

.promo-item:hover {
    background-color: #EAEAFD; /* Lighter shade on hover */
}

.promo-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensures the anchor tag takes the full width */
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the font color */
}

.promo-item span:nth-child(2) {
    font-family: 'Arial', sans-serif; /* Different font */
    font-weight: 400; /* Thinner font */
    font-size: 14px; /* Slightly smaller font size */
    text-align: right; /* Right aligns the payment rate */
    flex: 0 0 60px; /* Fixed width for payment rate, preventing overlap */
    margin-left: 10px; /* Some space between the name and the rate */
}


/* Promo text enhancement */
.promo-item span {
    font-size: 16px;
    background: linear-gradient(45deg, #2575fc, #9c27b0);
    -webkit-background-clip: text;
    color: transparent;
}

.promo-item span:nth-child(2) {
    color: #999;
    font-weight: bold;
}

/* Promo image enhancement */
.promo-item img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image is cropped correctly */
    vertical-align: middle; /* Aligns the image with the text */
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
